In [1]:
from wrangle_zillow import *
from model import *




alpha=0.05 #alpha for stats


import plotly.express as px
import warnings



df=prep_zillow_2017(k=1.25)

our sql grab:
 (52442, 15)

Index(['assessmentyear', 'bathroomcnt', 'bedroomcnt', 'calculatedbathnbr',
       'calculatedfinishedsquarefeet', 'fips', 'fullbathcnt', 'parcelid',
       'latitude', 'logerror', 'longitude', 'lotsizesquarefeet',
       'taxvaluedollarcnt', 'transactiondate', 'yearbuilt'],
      dtype='object')
after ensuring dates sql grab:
 (52441, 17)
df.transactiondate.min():
2017-01-01 00:00:00

df.transactiondate.max():
2017-09-25 00:00:00

/Users/richardmacken/codeup-data-science/clustering-exercises-/wrangle_zillow.py:385: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['outlier'] = False
/Users/richardmacken/codeup-data-science/clustering-exercises-/wrangle_zillow.py:396: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['outlier'] = np.where(((df[col] < lower_bound) | (df[col] > upper_bound)) & (df.outlier == False), True, df.outlier)
/Users/richardmacken/codeup-data-science/clustering-exercises-/wrangle_zillow.py:244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_6037.drop(columns=['outlier'],inplace=True)
/Users/richardmacken/codeup-data-science/clustering-exercises-/wrangle_zillow.py:385: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['outlier'] = False
/Users/richardmacken/codeup-data-science/clustering-exercises-/wrangle_zillow.py:396: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['outlier'] = np.where(((df[col] < lower_bound) | (df[col] > upper_bound)) & (df.outlier == False), True, df.outlier)
/Users/richardmacken/codeup-data-science/clustering-exercises-/wrangle_zillow.py:247: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_6059.drop(columns=['outlier'],inplace=True)
/Users/richardmacken/codeup-data-science/clustering-exercises-/wrangle_zillow.py:385: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['outlier'] = False
/Users/richardmacken/codeup-data-science/clustering-exercises-/wrangle_zillow.py:396: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['outlier'] = np.where(((df[col] < lower_bound) | (df[col] > upper_bound)) & (df.outlier == False), True, df.outlier)
/Users/richardmacken/codeup-data-science/clustering-exercises-/wrangle_zillow.py:250: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_6111.drop(columns=['outlier'],inplace=True)

Number of observations removed: 9546
Number of observations removed: 2830
Number of observations removed: 903
This is our percent change after removing all the outliers and merging :
 -25.2%
mean kurt:
0.44477474681080953
final shape:
(39227, 17)

None

In [2]:
df.columns

Index(['bathroomcnt', 'bedroomcnt', 'area', 'taxvaluedollarcnt', 'fips',
       'yearbuilt', 'lotsizesquarefeet', 'logerror', 'latitude',
       'transaction_month', 'longitude', 'county', 'Geogroups', 'agebydecade'],
      dtype='object')

In [3]:
mvp=['area','lotsizesquarefeet','taxvaluedollarcnt','bathroomcnt', 'bedroomcnt','logerror']




fulllist,fullscaledlist,lalist,lascaledlist,oclist,ocscaledlist,venturalist,venturascaledlist=single_split_many_return(df,mvp)
## Non scaled
X_train=fulllist[0]
y_train=fulllist[1]
X_validate=fulllist[2]
y_validate=fulllist[3]
X_test =fulllist[4]
y_test=fulllist[5]
train =fulllist[6]

X_la_train=lalist[0]
y_la_train=lalist[1]
X_la_validate=lalist[2] 
y_la_validate=lalist[3] 
X_la_test=lalist[4] 
y_la_test=lalist[5]
train_la=lalist[6] 

X_orange_train=oclist[0] 
y_orange_train=oclist[1] 
X_orange_validate=oclist[2] 
y_orange_validate=oclist[3] 
X_orange_test=oclist[4] 
y_orange_test=oclist[5] 
orange_train=oclist[6]

## Scaled



X_scaled_train=fullscaledlist[0]
y_scaled_train=fullscaledlist[1]
X_scaled_validate=fullscaledlist[2]
y_scaled_validate=fullscaledlist[3]
X_scaled_test =fullscaledlist[4]
y_scaled_test=fullscaledlist[5]


X_scaled_la_train=lascaledlist[0]
y_scaled_la_train=lascaledlist[1]
X_scaled_la_validate=lascaledlist[2] 
y_scaled_la_validate=lascaledlist[3] 
X_scaled_la_test=lascaledlist[4] 
y_scaled_la_test=lascaledlist[5]


X_scaled_orange_train=ocscaledlist[0] 
y_scaled_orange_train=ocscaledlist[1] 
X_scaled_orange_validate=ocscaledlist[2] 
y_scaled_orange_validate=ocscaledlist[3] 
X_scaled_orange_test=ocscaledlist[4] 
y_scaled_orange_test=ocscaledlist[5] 


X_scaled_ventura_train=venturascaledlist[0] 
y_scaled_ventura_train=venturascaledlist[1] 
X_scaled_ventura_validate=venturascaledlist[2] 
y_scaled_ventura_validate=venturascaledlist[3] 
X_scaled_ventura_test=venturascaledlist[4] 
y_scaled_ventura_test=venturascaledlist[5]

/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(
/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [4]:
X_scaled_ventura_train

,bathroomcnt,bedroomcnt,area,taxvaluedollarcnt,lotsizesquarefeet,Geogroups,agebydecade
36475,2.0,4.0,2098.0,728160.0,8526.0,17,47
38372,2.5,3.0,1763.0,270359.0,6765.0,23,27
37309,2.0,4.0,1999.0,264587.0,8848.0,21,37
37210,1.5,4.0,1226.0,441000.0,11655.0,21,57
38816,1.0,3.0,964.0,105185.0,6499.0,19,67
...,...,...,...,...,...,...,...
37520,2.0,4.0,2263.0,350663.0,11064.0,21,47
38573,2.5,3.0,2063.0,360329.0,13254.0,19,47
38255,2.0,3.0,1310.0,358970.0,8050.0,20,57
38532,2.5,3.0,1803.0,450222.0,4410.0,22,37
36461,1.0,2.0,720.0,154701.0,3600.0,22,87

In [5]:
y_scaled_ventura_train

36475   -0.057595
38372   -0.008135
37309    0.003855
37210    0.008370
38816    0.127072
           ...
37520    0.164748
38573   -0.040018
38255   -0.049093
38532    0.011870
36461   -0.131246
Name: logerror, Length: 1921, dtype: float64

In [6]:
X_scaled_ventura_validate

array([[-0.22222222, -0.44444444, -0.1808012 , ..., -0.12841514,
        -2.69444444, -0.0796875 ],
       [-0.22222222, -0.55555556, -0.18084095, ..., -0.12845642,
        -2.80555556, -0.08125   ],
       [-0.33333333, -0.66666667, -0.18091688, ..., -0.1284525 ,
        -2.80555556, -0.08125   ],
       ...,
       [-0.22222222, -0.44444444, -0.1808625 , ..., -0.12845207,
        -2.83333333, -0.08125   ],
       [-0.22222222, -0.55555556, -0.18088314, ..., -0.12843891,
        -2.83333333, -0.0796875 ],
       [-0.22222222, -0.55555556, -0.18089287, ..., -0.12846105,
        -2.80555556, -0.0796875 ]])

In [7]:
X_scaled_ventura_test

array([[0.5       , 1.        , 0.40952955, ..., 0.5205045 , 0.66666667,
        0.625     ],
       [0.66666667, 0.33333333, 0.07539204, ..., 0.70497123, 1.        ,
        0.875     ],
       [0.66666667, 0.33333333, 0.49155609, ..., 0.39519103, 0.83333333,
        0.25      ],
       ...,
       [0.33333333, 0.33333333, 0.32448733, ..., 0.39887889, 0.5       ,
        0.75      ],
       [0.        , 0.33333333, 0.1884801 , ..., 0.31051778, 0.66666667,
        0.75      ],
       [0.        , 0.33333333, 0.10554885, ..., 0.31405812, 0.5       ,
        0.75      ]])

In [8]:
y_scaled_ventura_test

38927    0.033840
35800   -0.181399
37962   -0.012998
37997    0.001468
36378    0.010575
           ...
39221    0.023167
37476   -0.117422
38494    0.092108
36240   -0.021274
38901   -0.085906
Name: logerror, Length: 750, dtype: float64